.main
{
    width: 40%;
    margin: 0 30%;
}
h1,.container
{
    background-color: #444;
    color: #f1f1f1;
    font-family: sans-serif;
    padding : 30px 10px;
    font-weight: 300;
}
.item
{
    font-size: 25px;
    padding: 10px;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.2);
    margin: 10px 0;
}
.addItem
{
    width: 76%;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #f1f1f1;
    outline:none;
}
.btn
{
    background-color: #4CAF50;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #47904a;
    outline: none;
}
.btn:hover
{
    background-color: #47904a;
    color: #fff;
}
.btn-del
{
    padding: 10px;
    font-size: 14px;
    float: right;
    margin-right: 30px;
    margin-top: -3px;
    outline: none;
    border: none;
    background-color: transparent;
}
.item:hover
{
    background-color: #f1f1f1;
}